include ../mixins/accountListItem.pug

#message-feed.column.is-4.messages.hero.is-fullheight
  //- .action-buttons
  //-   .control.is-grouped
  //-     a.button.is-small
  //-       i.fa.fa-chevron-down
  //-     a.button.is-small
  //-       i.fa.fa-refresh
  //-   .control.is-grouped
  //-     a.button.is-small
  //-       i.fa.fa-inbox
  //-     a.button.is-small
  //-       i.fa.fa-exclamation-circle
  //-     a.button.is-small
  //-       i.fa.fa-trash-o
  //-   .control.is-grouped
  //-     a.button.is-small
  //-       i.fa.fa-folder
  //-     a.button.is-small
  //-       i.fa.fa-tag
  //-   .control.is-grouped.pg
  //-     .title {{ paginate.pointer.start }}-{{ paginate.pointer.end }} of {{ paginate.total }}
  //-     a.button.is-link
  //-       i.fa.fa-chevron-left
  //-     a.button.is-link
  //-       i.fa.fa-chevron-right
  if didAddAccount
    div.notification.is-success.mb-4
      | Successfully added a new account! It should show up
      | shortly in your feed after the transaction is confirmed.
  h1.title #[i.fa.fa-user-secret] Your Accounts
  div
    form(action=`/` method="get")
      div.field
        input.input.is-medium(
          type="text"
          name="query"
          value=searchQuery || ''
          placeholder="Search for account(s)... [Enter] to search")
  #inbox-messages.inbox-messages
    if accounts.length === 0
      .card
        .card-content
          .msg-header
            span.msg-from
              i
                | No accounts added yet. If you logged in just now for the first time,
                | please wait ~60 seconds before adding a new account so your
                | fndr account is created and confirmed in the Jupiter blockchain.
    else
      each account in accounts
        +accountListItem(account, selectedAccount && selectedAccount.id)