include ../mixins/updateConfigForm.pug

section.hero.is-primary
  .hero-body.has-text-centered
    p.title.is-flex.is-align-items-centered.is-justify-content-center
      | fndr by
      | #[img.ml-2(src='/public/images/jupiter.png' style="width: 35px; height: 35px")]
    p.subtitle
      | Secure, decentralized password manager to manage all your accounts that are stored in the Jupiter blockchain.

div.container.small
  div.has-background-light.p-4
    div.mb-4
      h2.has-text-centered.subtitle
        | Configure your JUP account
      if hasFieldError
        div.notification.is-danger.my-4
          | Please be sure to enter the correct information in all fields. It might be easier
          | to generate the configuration from the #[code fndr] CLI then importing it here
          | using the upload button below.
      div
        small
          small
            i
              div.mb-4
                | The following information will be stored securely in your browser
                | as a #[a(href="https://tools.ietf.org/html/rfc7519") JSON Web Token (JWT)]. This
                | JWT is passed to our server with each request which is used to fetch data from
                | the Jupiter blockchain.
              div
                | Note: This data #[strong IS NEVER] stored on our servers for longer than 30-60 seconds,
                | which only occurs to support better user experience for temporary caching while your
                | active in the application.
    +updateConfigForm(configOptions)