include ../mixins/updateConfigForm.pug

div.container.small
  div.has-background-light.p-4
    div.mb-4
      h1.has-text-centered.title.is-size-1
        | fndr by
        | #[img(src='https://i1.wp.com/gojupiter.tech/wp-content/uploads/2021/02/Jupiter-Logo-Def-Stroke-512px.png?fit=512%2C512&ssl=1' style="width: 35px; height: 35px")]
      h2.has-text-centered.subtitle
        | Configure your JUP account
      if hasFieldError
        div.notification.is-danger.my-4
          | Please be sure to enter the correct information in all fields. It might be easier
          | to generate the configuration from the #[code fndr] CLI then importing it here
          | using the upload button below.
      div
        small
          small
            i
              div.mb-4
                | The following information will be stored securely encrypted in a cookie on your browser
                | as a #[a(href="https://tools.ietf.org/html/rfc7519") JSON Web Token (JWT)]. This
                | JWT is passed to our server with each request which is used to fetch data from
                | the Jupiter blockchain.
              div
                | Note: This data #[strong IS NEVER] stored on our servers for longer than 30-60 seconds,
                | which only occurs to support better user experience for temporary caching while your
                | active in the application.
    +updateConfigForm(configOptions)