aside.column.is-2.aside.hero.is-fullheight
  div
    .compose.has-text-centered
      a.button.is-danger.is-block.is-bold
        span.compose #[i.fa.fa-plus] Add Account
    .main
      a.item.active(href='/')
        span.icon
          i.fa.fa-inbox
        span.name Main Accounts
      a.item(href='#')
        span.icon
          i.fa.fa-star
        span.name Shared
      //- a.item(href='#')
      //-   span.icon
      //-     i.fa.fa-envelope-o
      //-   span.name Sent Mail
      //- a.item(href='#')
      //-   span.icon
      //-     i.fa.fa-folder-o
      //-   span.name Folders