<!DOCTYPE html>
html.h-100
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    meta(name="description" content="Decentralized and secure password manager that stores your passwords on the Jupiter blockchain.")
    meta(name="robots" content="index, follow")

    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css")
    //- link(
    //-   rel="stylesheet"
    //-   href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
    //-   integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
    //-   crossorigin="anonymous")
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel="stylesheet" href="/public/css/app.css")
    link(rel="icon",href="/public/jupiter.ico")

    title fndr
  body.h-100
    include ./navbar.pug
    //- div.container.small
    div
      block content
