extends ./base.pug

block content 
  if accounts
    #mail-app.columns
      include ./includes/sideBar.pug

      include ./includes/accountFeed.pug

      include ./includes/accountPane.pug
  else
    include ./includes/configForm.pug